{% block _acme_cg_inventory_shopping_list_widget %}
    <script type="text/javascript">
        require(['jquery'], function($) {
            $(document).ready(function() {
                // Add inventory status to each shopping list item
                $('.shopping-list-line-items__item').each(function() {
                    var $item = $(this);
                    var productId = $item.data('product-id');
                    if (productId) {
                        // This would be populated via AJAX or backend data
                        // For now, we'll use data attributes set by backend
                        var inventoryStatus = $item.data('inventory-status');
                        if (inventoryStatus) {
                            var badgeClass = 'badge--xs ';
                            switch(inventoryStatus) {
                                case 'in_stock':
                                    badgeClass += 'badge--success';
                                    break;
                                case 'out_of_stock':
                                    badgeClass += 'badge--danger';
                                    break;
                                case 'backorder':
                                    badgeClass += 'badge--warning';
                                    break;
                                case 'pre_order':
                                    badgeClass += 'badge--info';
                                    break;
                            }
                            var $badge = $('<span class="badge ' + badgeClass + '">' + inventoryStatus.replace('_', ' ') + '</span>');
                            $item.find('.product-item__sku').after($badge);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}